[tool.poetry]
name = "shell-whiz"
version = "0.1.0"
description = "Shell Whiz: AI assistant right in your terminal"
authors = ["Tamerlan Bimzhanov <bimzhanovt.net@gmail.com>"]
readme = "README.md"
packages = [{include = "shell_whiz"}]

[tool.poetry.dependencies]
python = "^3.11"
openai = "^0.27.8"
inquirer = "^3.1.3"
yaspin = "^2.3.0"
prompt-toolkit = "^3.0.39"
colorama = "^0.4.6"

[tool.poetry.scripts]
sw = "shell_whiz:main"

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"
